**Desafio 1**

In [192]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [193]:
df = pd.read_csv('boston.csv').drop('Unnamed: 0', axis=1)

In [194]:
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [195]:
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

**Desafio 2**

In [196]:
y_vec = df.loc[:,'medv']

In [197]:
x_mat = df.loc[:, 'crim':'lstat']

In [198]:
x_train, x_test, y_train, y_test = train_test_split(x_mat, y_vec, test_size=.33, random_state=1)

**Desafio 3**

In [199]:
normalizado = linear_model.LinearRegression(fit_intercept=True, normalize=True)

In [200]:
no_normalizado =linear_model.LinearRegression(fit_intercept=False, normalize=False)

In [201]:
normalizado.fit(x_train, y_train)
no_normalizado.fit(x_train, y_train)

LinearRegression(fit_intercept=False)

In [202]:
normalizado_yhat = normalizado.predict(x_test)

In [203]:
no_normalizado_yhat = no_normalizado.predict(x_test)

In [204]:
normalizado_yhat

array([32.45826885, 28.03728153, 17.93647207, 21.2832492 , 18.42483932,
       20.26442416, 32.68163869, 17.8901368 , 25.20430254, 26.50324837,
       27.44636554, 28.774597  , 20.69904879, 26.7287059 , 23.07228784,
       20.56904299, 17.81703559, 38.5881921 , 30.29195442,  8.25216261,
       20.43766045, 15.8309292 , 25.0960829 , 24.69781835, 31.35504827,
       11.02487322, 13.75508415, 16.41703401, 36.08411878, 14.56147642,
       21.26785937, 13.91919838, 43.63932825, 18.10575644, 21.28183801,
       20.21300053, 17.73731543, 27.11063697,  9.14209558, 20.08335439,
       23.80093981, 21.00996159, 29.24165661, 16.69939026, 19.58780033,
       15.07888798, 40.4624702 , 18.18519341, 25.86761534, 20.18871144,
       25.57539383, 24.3975141 , 24.70488287, 26.68612166,  4.91985574,
       24.11824423, 11.13097254, 26.53644504, 16.68591392, 36.09153573,
       19.74807439, 27.27509711, 16.58472307, 19.1454264 , 11.11861779,
       31.97778822, 36.95035276, 21.38382008, 24.64454259, 25.02781395,
       23.28226998,  6.86412458, 16.1341216 , 20.44352604, 20.55125924,
       21.6712626 , 34.93308609, 27.86297977, 24.87776418, 35.08048807,
       19.06712412, 23.55090525, 34.54640342, 13.76875852, 20.67587175,
       29.96729424, 17.37524311, 24.19178531, 18.85568011, 17.4336205 ,
       27.08134493, 41.77678781, 14.58355606, 22.93835525, 15.21603527,
       21.58743079, 23.06371993, 29.43441696, 37.29103807, 20.33988008,
       17.59950188, 17.95238063, 24.87619934, 21.92962636,  8.48492984,
       21.47167685, 16.02306977, 33.24467943, 24.15955639, 25.13972947,
       38.37955969, 28.484507  , 14.94509097, 35.1098432 , 35.50564811,
       32.98900869, 20.77301548, 16.2128677 , 34.67677778, 39.62863978,
       20.89409427, 15.95777436, 27.4612379 , 18.8439911 , 27.48891316,
       20.93752583, 25.92227008, 22.0885568 , 22.68639361, 28.33089338,
       20.24253874, 23.90652556, 29.58640223, 10.38220221, 27.06907968,
       32.75881449, 14.49880539, 13.57079663, 33.56172028, 14.9271579 ,
       17.79111202, 16.66356978, 17.08462745, 28.53372442, 34.21841243,
       20.2795369 , 24.49010528, 17.52631114, 28.10477086, 21.003699  ,
       33.80365834, 13.66399597, 19.29354499, 18.90110745, 20.16112854,
       31.98584947, 15.32090321, 28.41074001, 23.73388509, 29.93587831,
       34.02982724, 36.9430092 , 24.0610287 , 18.36515222, 19.28278599,
       21.2063508 , 26.32553203])

In [205]:
no_normalizado_yhat

array([31.90168984, 28.78043826, 17.59932888, 20.46834675, 17.4695444 ,
       22.68559168, 32.60056732, 19.31417928, 23.52878503, 25.75577693,
       26.95140696, 30.21735025, 19.15613749, 24.08166486, 22.15766492,
       18.32420499, 20.06640163, 41.84841963, 27.77160905,  8.60020462,
       19.36742264, 15.0431124 , 25.64691009, 25.3138286 , 29.41154311,
        9.83613071, 15.18778089, 17.33917905, 36.17911192, 13.92662472,
       23.63968795, 13.85945435, 44.05116711, 19.95761222, 20.55647257,
       20.54808091, 19.37129259, 29.18878029,  5.06413192, 19.71250501,
       23.18903555, 22.85747982, 27.96143379, 16.23119929, 19.48473495,
       16.81237801, 40.98769912, 18.38482688, 22.2566794 , 19.42073718,
       26.90469186, 23.47313674, 24.92685608, 23.96916874,  5.3733516 ,
       24.92217467, 12.42629852, 25.44910113, 18.34873539, 38.58927412,
       20.92103334, 27.10195432, 16.53342099, 17.16694482, 10.83606977,
       31.8003432 , 39.60907138, 22.41895433, 22.00673113, 21.99492579,
       24.08760295,  5.71099998, 13.3376736 , 23.39308509, 21.09098669,
       19.63171414, 34.98327602, 26.73039192, 26.42392156, 36.1129803 ,
       21.94315597, 22.18554244, 33.78113538, 15.75528263, 23.43129714,
       27.77902476, 18.96731073, 25.27122902, 18.91874222, 20.40598289,
       29.82169722, 44.42628115, 16.29311178, 21.28785125, 14.55579114,
       20.21725407, 25.6586179 , 28.25327386, 39.40469827, 21.55403433,
       14.11230277, 20.52731038, 24.00276573, 22.5817975 ,  8.92358682,
       21.04242317, 11.72459857, 29.95278745, 22.96715145, 27.06846211,
       37.46460229, 26.57128434, 14.5536362 , 35.79127192, 34.95662275,
       32.9199963 , 21.34525122, 15.79705179, 35.39854692, 40.8984426 ,
       19.40577546, 16.74964432, 28.01122657, 20.54697015, 26.88937829,
       21.22848557, 23.57752952, 23.30185507, 19.29748485, 28.82923746,
       18.95100008, 24.27426427, 27.82952814,  9.60333146, 27.18647388,
       33.75195405, 15.83665017, 12.48114293, 35.3606714 , 20.05140286,
       20.77126281, 19.15690622, 17.48004595, 27.26957623, 34.50630312,
       20.73748968, 25.05706626, 16.62026595, 27.17200932, 20.65782501,
       33.47209136, 15.31820627, 20.54226234, 18.86907525, 22.49836325,
       31.86672802,  8.43516662, 28.03248849, 23.51539196, 29.5091241 ,
       36.09875709, 43.1382586 , 25.78609784, 18.52943688, 16.8893566 ,
       22.2128976 , 27.56109982])

**Desafio 4**

In [206]:
def report_scores(datos_predic, datos_validar):
    mse = mean_squared_error(datos_validar,datos_predic).round(2)
    r2 = r2_score(datos_validar, datos_predic).round(2)
    print(f'El promedio del Error Cuadratico es: {mse}')
    print(f'El valos de  R-cuadrado es: {r2}')    
    return

Metrica para modelo con intercepto y atributos normalizados

In [207]:
report_scores(normalizado_yhat, y_test)

El promedio del Error Cuadratico es: 20.7
El valos de  R-cuadrado es: 0.76

Metrica para modelo sin intercepto y atributos no normalizados

In [208]:
report_scores(no_normalizado_yhat, y_test)

El promedio del Error Cuadratico es: 22.27
El valos de  R-cuadrado es: 0.75

En base al reporte generado, se observa que el error promedio de error cuadratico es menor en el ***modelo normalizado***. R-cuadrado es exactamente igual en los 2, por lo que ambos son capaces de explicar un 75% de la variabilidad de nuestra variable objetivo.
El mejor modelo  es el con ***intercepto y atributos normalizados***

**Desafio 5**

In [209]:
def fetch_features(datos, v_objetivo = 'medv'):
    columns = datos.columns
    attr_name, pearson_r, abs_pearson_r = [],[],[]
    
    for col in columns:
        if col != v_objetivo:
            attr_name.append(col)
            pearson_r.append(datos[col].corr(datos[v_objetivo]))
            abs_pearson_r.append(abs(datos[col].corr(datos[v_objetivo])))
            
    tabla = pd.DataFrame({'attribute': attr_name, 'corr':pearson_r, 'abs_corr':abs_pearson_r})
    tabla = tabla.set_index('attribute')
    tabla = tabla.sort_values(by=['abs_corr'], ascending=False)
    return tabla

In [210]:
fetch_features(df)

               corr  abs_corr
attribute
lstat     -0.737663  0.737663
rm         0.695360  0.695360
ptratio   -0.507787  0.507787
indus     -0.483725  0.483725
tax       -0.468536  0.468536
nox       -0.427321  0.427321
crim      -0.388305  0.388305
rad       -0.381626  0.381626
age       -0.376955  0.376955
zn         0.360445  0.360445
black      0.333461  0.333461
dis        0.249929  0.249929
chas       0.175260  0.175260

A continuacion, las 6 variables con la mayor correlacion absoluta

In [211]:
fetch_features(df).head(6)

               corr  abs_corr
attribute
lstat     -0.737663  0.737663
rm         0.695360  0.695360
ptratio   -0.507787  0.507787
indus     -0.483725  0.483725
tax       -0.468536  0.468536
nox       -0.427321  0.427321

**Desafio 6**

In [212]:
y_features =df.loc[:,'medv']
x_feat_mat = df.loc[:, ['lstat', 'rm', 'ptratio', 'indus', 'tax', 'nox']]

In [213]:
x_feat_train, x_feat_test, y_feat_train, y_feat_test = train_test_split(x_feat_mat, y_features, test_size=.33,
                                                                        random_state=2)

In [214]:
features_model = linear_model.LinearRegression(fit_intercept=True, normalize=True)

In [215]:
features_model.fit(x_feat_train, y_feat_train)

LinearRegression(normalize=True)

In [216]:
features_model_yhat=features_model.predict(x_feat_test)

In [217]:
report_scores(features_model_yhat, y_feat_test)

El promedio del Error Cuadratico es: 25.82
El valos de  R-cuadrado es: 0.71

In [218]:
y_feat_test

463    20.2
152    15.3
291    37.3
183    32.5
384     8.8
       ...
29     21.0
267    50.0
142    13.4
405     5.0
342    16.5
Name: medv, Length: 167, dtype: float64

**Desafio 7**

In [219]:
worst_neighbor = np.array([37.9, 12.6, 3.5, 27.7, 187, 0.87]).reshape(1,
-1)

In [220]:
best_neighbor = np.array([1.73, 22, 8.7, 0.46, 711, 0.38]).reshape(1,
-1)

No se como seguir......