**Desafio 1**

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("worldcup2014.csv")

In [5]:
def media(x):
    promedio = x.sum()/len(x)
    return promedio

In [7]:
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [8]:
media(df['juegos_ganados'])

1.21875

In [9]:
df['juegos_ganados'].mean()

1.21875

In [19]:
def desviacion_standar(x):
    sumatoria = (x-media(x))**2
    desviacion = ((sumatoria.sum())/(len(x)-1))**(1/2)
    return desviacion 
desviacion_standar(df['juegos_ganados'])

1.0075321174741456

In [20]:
df['juegos_ganados'].std()

1.0075321174741456