**Desafio 1**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("worldcup2014.csv")

In [3]:
def media(x):
    '''
    Esta funcion calcula la media aritmetica de una serie de pandas.
    Entra: una serie de pandas
    Sale: un numero que representa la media de la serie.
    '''
    promedio = x.sum()/len(x)
    return promedio

In [4]:
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [5]:
media(df['juegos_ganados'])

1.21875

In [6]:
df['juegos_ganados'].mean()

1.21875

In [7]:
def desviacion_standar(x):
    '''
    Esta funcion calcula la desviacion estandar de una serie de numeros y para eso ocupa tambien la funcion media.
    Entra una serie de pandas numerica
    Sale un solo valor numerico que corresponde a la varianza de la serie
    '''
    
    sumatoria = (x-media(x))**2
    desviacion = ((sumatoria.sum())/(len(x)-1))**(1/2)
    return desviacion 
desviacion_standar(df['juegos_ganados'])

1.0075321174741456

In [8]:
df['juegos_ganados'].std()

1.0075321174741456

Utilizando las funciones creadas.

In [9]:
print(media(df['goles_favor']))
print(media(df['goles_contra']))
print(media(df['puntos']))

4.25
4.25
4.21875

In [10]:
print(desviacion_standar(df['goles_favor']))
print(desviacion_standar(df['goles_contra']))
print(desviacion_standar(df['puntos']))

2.314052443156252
2.2288431832418967
2.881916644940845

**Desafio 2**

In [15]:
df.groupby(['continent']).agg({'goles_favor':['mean','var','std'], 'goles_contra':['mean','var','std'], 'puntos':['mean','var','std']})

             goles_favor                     goles_contra             \
                    mean       var       std         mean        var
continent
africa          3.600000  3.300000  1.816590     5.600000   4.800000
asia            2.250000  0.916667  0.957427     6.250000   4.250000
europe          4.769231  6.858974  2.618964     4.000000   3.833333
northamerica    3.250000  2.250000  1.500000     3.500000  11.000000
southamerica    5.666667  4.666667  2.160247     2.833333   0.566667

                          puntos
                   std      mean        var       std
continent
africa        2.190890  2.400000   3.300000  1.816590
asia          2.061553  0.750000   0.250000  0.500000
europe        1.957890  4.692308   6.897436  2.626297
northamerica  3.316625  4.500000  11.000000  3.316625
southamerica  0.752773  6.833333   3.766667  1.940790

***¿En qué continente se observa una mayor cantidad de goles a favor?***

Sudamerica tiene una mayor cantidad de goles a favor

***¿En qué continente se observa una mayor cantidad de goles en contra?***

Asia es el continente que tiene mayor cantidad de goles en contra

***¿En qué continente se observa una mayor cantidad de puntos en promedio?***

Sudamerica es el continente que tiene una mayor cantidad de puntos en promedio

**Desafio 3**

In [17]:
def generate_pet(n):
    animals = ['perro', 'gato']
    return np.random.choice(animals, n)

In [18]:
generate_pet(4)

array(['gato', 'perro', 'gato', 'perro'], dtype='<U5')

In [19]:
generate_pet(15)

array(['gato', 'gato', 'gato', 'perro', 'gato', 'perro', 'gato', 'gato',
       'gato', 'gato', 'perro', 'perro', 'perro', 'gato', 'gato'],
      dtype='<U5')

In [66]:
dfpets = pd.DataFrame(generate_pet(20))

In [67]:
dfpets.value_counts()

gato     11
perro     9
dtype: int64

***¿Cuál es la probabilidad de elegir un perro al azar?***

In [68]:
p_perro = dfpets.value_counts()['perro']/dfpets.value_counts().sum()*100
p_perro

45.0

La probabilidad de elegir un perro al azar es de 45%

***¿Y un gato?***

In [71]:
p_gato = dfpets.value_counts()['gato']/dfpets.value_counts().sum()*100
p_gato

55.00000000000001

La probabilidad de elegir un gato al azar es de 55%

***Agregue np.random.seed(2) al inicio del chunk. ¿Qué diferencia hay cuando se                     
ejecuta la función varias veces luego de fijar la semilla?***

In [90]:
np.random.seed(2)
def generate_pet(n):
    animals = ['perro', 'gato']
    return np.random.choice(animals, n)
generate_pet(5)

array(['perro', 'gato', 'gato', 'perro', 'perro'], dtype='<U5')

No cambia el array generado, antes cambiaba cada vez que ejecutaba la funcion.

**Desafio 4**

In [135]:
np.random.seed(1)
def simulate_pets_prob(n):
    young_pet = generate_pet(n)
    old_pet = generate_pet(n)
    df_old_young = pd.DataFrame({
        'young_pet': young_pet,
        'old_pet': old_pet,
    })
    df_old_young['perro_en_uno']=np.logical_or(df_old_young['young_pet']=='perro', df_old_young['old_pet']=='perro')
    perro_en_uno = df_old_young['perro_en_uno'].value_counts('%').get(True)
    
    perro_old_pet = df_old_young['old_pet'].value_counts('%').get('perro')
    
    df_old_young['perro_ambos']=np.logical_and(df_old_young['young_pet']=='perro', df_old_young['young_pet']=='perro')
    perro_ambos = df_old_young['perro_ambos'].value_counts('%').get(True)
    
    return [perro_en_uno, perro_old_pet, perro_ambos]

In [136]:
valores = simulate_pets_prob(20)
valores

[0.75, 0.6, 0.45]

De los 3 escenarios el menos probable es que se de perro en los 2 arrays.

El mas probable es que al menos uno de los 2 arrays tenga perro

Esto se debe a que al ser valores random es mas dificil que coincidan, y es mas probable que al menos uno sea perro de los 2 sea perro.